@model RegisterLoginApplication.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(".test").show();
        setTimeout(function () { $(".test").hide(); }, 4000);
    </script>

</head>

<body style="background-color: yellowgreen;color:black">

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { autocomplete = "off" }))
    {

    <div class="container" align="center">
        <br />
        <h1 style="color:blueviolet">LOGIN</h1>
        <p style="color: ActiveBorder"><b>Please Enter Your Credentials to Login</b></p>

        <table>
            <tr>
                <td style="color: sienna">EMAIL ID</td>
                <td>@Html.TextBoxFor(model => model.EmailId, new { @class = "control-label col-md-2", required = "required", IAutoFieldGenerator = "off" })</td>
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                <td> <br /> <br /> </td>
            </tr>

            <tr>
                <td style="color: sienna">PASSWORD </td>
                <td>@Html.PasswordFor(model => model.Password, new { @class = "control-label col-md-2", required = "required" })</td>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <td> <br /> <br /> </td>
                <td> <br />  </td>
            </tr>

        </table>

        @if (TempData["Error"] != null)
        {
            <div class="test">
                <p style="color:red; font-size:150%; font-family:'Times New Roman';">@TempData["Error"]</p>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        }

            <input id="Submit1" type="submit" name="submit" value="Login" style="background-color: royalblue;color:white" />
            <input id="Reset1" type="reset" name="submit" value="Reset" style="background-color: royalblue;color:white" />

            <div class="container signin">
                <p><b>Don't You have an Account? @Html.ActionLink("Register", "Register", "Register") </b></p>

            </div>

        </div>

        }
</body>

</html>






